<div class="container"><br>

<h4 class="text-right">
<a href="" ng-click="logout()">Exit</a>
</h4>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-center text-info"><h3>Stuff about the user</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key,value) in userInfo">
			<td class="text-center"><h4>{{key}} : {{value}}</h4></td>
		</tr
	</tbody>
</table>		

</div>