 <div class="container"><br>

	 <ul ng-show="{{errors}}">
	    <li ng-repeat=" error in errors" >
	    {{ __(error) }}
	  </li>
	</ul>


	<h4>Use the social network you prefer to log in</h4><hr>

	<ul>
	  <li ng-repeat="provider in providers" >
	  	<p> This one is the wrong, but need it:
	    <a  href="" ng-click="login(provider.slug)" role="button"> <img ng-attr-src="images/{{provider.src}}" class="img-responsive" alt="Image"></a> </p>
	    <p> This one works just fine, but can't manipulate the callback:
	    <a  href="auth/{{provider.slug}}" role="button"><img ng-attr-src="images/{{provider.src}}" class="img-responsive" alt="Image"></a></p>
	  </li>
	</ul>

</div>